.title{
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.title-para{
  text-align: center;
}

.heading{
  text-align: center;
  font-weight: bold;

}

.tech-table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}

td,th{
  border: 1px solid black;
  padding: 4px 4px 4px 4px;
  margin: 0;
  width: auto;
  text-align: left;
}

.rating{
  text-align: end;
}